{% extends "./navigator.html" %} {% block title %} uPark {% endblock %} 
{% block body %}

<body>

  <div class="container-fluid vh-100 d-flex justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
       
          <div class="card " style="width: 100%">
            <div class="card-body">
              <button id="showFormBtn" class="btn btn-primary">Add User</button>
              <form id="addPersonForm" action="/addPerson/" method="POST" style="display: none;">
                <div class="row">
                  <!-- First Column -->
                  <div class="col-md-6">
                    {% csrf_token %}
            
                    <label class="form-label">Document ID</label>
                    <input type="number" class="form-control" id="documentId" name="documentId" placeholder="Document" required />
            
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required />
            
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required />
            
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass" name="password" placeholder="Password" required />
                  </div>
                  <!-- Second Column -->
                  <div class="col-md-6">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required />
            
                    <label class="form-label">Mail</label>
                    <input type="email" class="form-control" id="mail" name="mail" placeholder="user@upark.com" required />
            
                    <label class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" min="1900-01-01" max="2100-12-31" id="dateOfBirth" name="dateOfBirth" required />
            
                    <label class="form-label">Type of person</label> 
                     <select class="form-control" name="personType" id="personType"> 
                        <option value="">Select Type</option> 
                        <option value="A">Administrator</option>
                        <option value="E">Employee</option>
                        <option value="S">Student</option>
                        <option value="G">Graduate</option>
                        <option value="V">Visitor</option>
                      </select>
                  </div>
                </div>
                <br />
                <button type="submit" class="btn btn-sm btn-success btn-block">
                  Save
                </button>
              </form>

              <div class="container">
                <div class="container mt-4">
                  <table class="table table-bordered table-query table-striped">
                    <thead>
                      <tr colspan="4">
                        <h2>List of Persons</h2>
                      </tr>
                      <tr>
                        <th scope="col">Document ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Person Type</th>
                      </tr>
                    </thead>
                    <a href="/reportPerson">Export to Excel</a>
                    <tbody>
                      {% for per in Persons %}
                      <tr>
                        <td>{{per.documentId}}</td>
                        <td>{{per.firstName}} {{per.lastName}}</td>
                        <td>{{per.phone}}</td>
                        <td>{{per.mail}}</td>
                        <td>{{per.personType}}</td>
                       
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>  

            </div>
          </div>
          <script>
            // Función para mostrar u ocultar el formulario al hacer clic en el botón
            document.getElementById("showFormBtn").addEventListener("click", function() {
              var form = document.getElementById("addPersonForm");
              if (form.style.display === "none") {
                form.style.display = "block";
              } else {
                form.style.display = "none";
              }
            });
          </script>
      </div>
    </div>
  </div>  
  
</body>
{% endblock %}
