{% extends "./navigator.html" %} 
{% block title %} uPark {% endblock %} 
{% block content %}
{% block body %}
<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 10px;
  }

  .gallery img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
<br>
<body>
  <div class="gallery">
    <img src="data:image/png;base64,{{ graphic }}" alt="Pay per Date">
    <img src="data:image/png;base64,{{ graphicG }}" alt="Pay per Vehicle">
    <!-- Add more images here -->
  </div>
  <br>
    <a href="/reportPay">Export Pays to Excel</a>
</body>
</html>



{% endblock %}
{% endblock content %}