{%  extends "./navigator.html"  %}
{% block title %} uPark {% endblock %}

{% block body %}


<body> 
<div class="container">   
    <form action="/addCard/" method="POST">
        <h2>Create Card</h2>  
    <div class="container-fluid" >
        {% csrf_token %}
{% comment %}         <label class="form-label">Card</label>
        <input type="text" class="form-control" id="idCard" name="idCard" required> {% endcomment %}
        <label class="form-label">Balance</label>
        <input type="text" class="form-control" id="balance" name="balance" class="form-control" 
        placeholder="Balance" required>
        <br>
            <button type="submit" class="btn btn-sm btn-success btn-block">Save</button>   
    </div>
</form>
</div>
</body>
{% endblock %}