{% extends "./navigator.html" %} {% block title %} uPark {% endblock %}
{% block body %}
<div class="container mt-4">
  <!--EDIT Card-->
  <h2>Edit Card</h2>
  <table class="table table-bordered table-input table-striped">
    <thead>
      <tr>
        <th scope="col">Id Card</th>
        <th scope="col">Document</th>
        <th scope="col">Balance</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tr>
      <form action="/editarCard/" method="POST">
        {% csrf_token %}
        <td>
          <input
            value="{{card.idCard}}"
            type="text"
            class="form-control"
            id="idCard"
            name="idCard"
            class="form-control"
            {% comment %} placeholder="idCard" {% endcomment %}
            readonly
            required
          />
        </td>
        <td>
          <input
            value="{{card.idPerson.documentId}}"
            type="text"
            class="form-control"
            id="documentId"
            name="documentId"
            class="form-control"
            {% comment %} placeholder="idPerson" {% endcomment %}
            readonly
            required
          />
        </td>
        <td>
          <input
            value="{{card.balance}}"
            type="text"
            class="form-control"
            id="balance"
            name="balance"
            class="form-control"
            {% comment %} placeholder="Balance" {% endcomment %}
            required
          />
        </td>
        <td>
          <select class="form-control" name="status" id="status" value={{card.status}}>
            <option value="A">Active</option>
            <option value="I">Inactive</option> 
          </select>
          {% comment %} <input
            value="{{card.status}}"
            type="text"
            class="form-control"
            id="status"
            name="status"
            class="form-control"
            placeholder="status"
            required
          /> {% endcomment %}
        </td>
        <td>
          <!--Save Vehicle-->
          <button type="submit" class="btn btn-sm btn-success btn-block">
            Save
          </button>
        </td>
      </form>
    </tr>
    <!-- Add more rows as needed -->
  </table>
</div>
{% endblock %}
