{% load static %}
        <div align="center">
            <h1>Please keep this code</h1>
            <!-- <a href="{%static "images/carro_ZXY670DQR.png" %}" download><img src="{%static "images/carro_ZXY670DQR.png" %}" alt ="centered image"  class="d-inline-block align-text-top" /></a> -->
            <a href="../static/images/qrcodes/{{ qr }}" download><img src= ../static/images/qrcodes/{{ qr }} alt ="centered image"  class="d-inline-block align-text-top"/></a>
            <h2>it's necesary to leave de parking lot </h2>
        </div>