<h1>Welcome to Upark login</h1>
<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="user" class="form-label"><br><br>
                User:
            </label>
            <input type="text" lass="form-control" name="user"/>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label"><br><br>
                Password:
            </label>
            <input type="text" lass="form-control" name="pwd"/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="mb-3">
            <a href="https://www.eafit.edu.co/" class = "btn btn-primary">Login as a guest </a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
<h2>This page  it's for login porpuses</h2>

