{%  extends "./navigator.html"  %}
{% block title %} uPark {% endblock %}

{% block body %}
<body> 
<div class="container mt-4">
    <table class="table table-bordered table-query table-striped">
        <tr colspan="2"><h2>Buy Ticket For:</h2></tr>
        <tbody>
            <tr>
                <div class="d-grid gap-4">
                    <td colspan="2"><a href="http://127.0.0.1:8000/login/" class="btn btn-primary btn-lg btn-block">Recharge card</a></td>
                </div>
              </tr>         
          {% for vehicle in Vehicles %}
          <tr>
            <td>{{vehicle.type}}</td>
            <td><a href="#" class="btn btn-sm btn-success btn-block">Buy</a></td>
         </tr>
         {% endfor %}
        </tbody>
    </table>
  </div>
  {% endblock %}