{% block content %} {% load static %}
<title>{% block title %} uPark {% endblock %} </title>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        font-family: Rajdhani !important;
        background-color: #f8f7f7; /* Cambia este valor al código del color deseado */
      }
      
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #1985A1;
        border:0px !important ;
        
      }
      .logo img {
        width: 50px; /* Ajusta el tamaño de la imagen según necesites */
        height: 50px;
      }
      .card {
        border-radius: .60rem;
    }


    </style>
  </head>
  <body>
    <div class="card">
      <header>
        <div class="logo ">Upark</div>
        <div class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo de Upark"></div>
      </header>
    </div>
    <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <div class="card">
              <div class="card-body">          
                <div class="container-fluid ">
                  {% csrf_token %} {% load static %}
                  <div align="center">
                    <a href="http://127.0.0.1:8000/"><img src="{%static "images/PSE.png" %}" alt ="centered image" width
                    ="90" height = "84" class="d-inline-block align-text-top"></a>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <label class="form-label">First Name</label>
                      <input type="firstName" class="form-control" id="firstName"  required/>
                      
                      <label class="form-label">Phone</label>
                      <input type="Phone" class="form-control" id="Phone" required/>
                      
                      <label class="form-label">Rate</label>
                      <input disabled type="text" class="form-control" name="Rate"  value={{ rate }} id="rate" required />
                      
                      <label class="form-label">Select a Bank</label> 
                      <select class="form-control" name="banks" id="banks"> 
                        <option value="">-------</option> 
                        <option value="Banco Caja Social">Banco Caja Social</option> 
                        <option value="BBVA">BBVA</option> 
                        <option value="Bancolombia">Bancolombia</option> 
                        <option value="Itau">Itau</option> 
                      </select>
                      
                    </div>
                    <div class="col">
                      <label class="form-label">Last Name</label>
                      <input type="lastName" class="form-control" id="lastName" required/>
                      
                      <label class="form-label">Mail</label>
                      <input type="Mail" class="form-control" id="Mail" required/>
                      
                      <label class="form-label">Vehicle type</label>
                      <input disabled type="text" class="form-control" name="vehicle"  value={{ vehicle }} id="vehicle" required />
                    
                    </div>
                  </div>
                  <label class="form-label"></label>
                      <form action="/validatePay/" method="POST">
                        {% csrf_token %} {% load static %}
                        <div class="container">
                          <div class="row">
                              <div class="col">
                                  <div class="card mb-3" style="width: 18rem">                    
                                      <button type="submit" class="btn btn-primary" name="accepted">
                                          Accepted
                                      </button>
                                      <input hidden type="text" class="form-control" name="idVehicle"   value= {{ idVehicle }}    />
                                      <input hidden type="text" class="form-control" name="_rate"  value={{ rate }}    />
                                      <input hidden type="text" class="form-control" name="idPerson"    value={{ idPerson }}     />
                                  </div>
                              </div> 
                              <div class="col">
                      </form>    

                      <form action="/errors/" { error } method="POST">
                      {% csrf_token %} {% load static %}
                      <div class="container-fluid">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12 col-lg-4"></div>
                            <div class="col-sm-12 col-lg-5">
                              <div class="card mb-3" style="width: 18rem">  
                                <button type="submit" class="btn btn-danger" name="Declined">
                                  Declined
                                </button>
                              </div>
                            </div> 
                          </div>     
                        </div>  
                        <input hidden type="text" name="error" value="The transaction was Declined!"  class="form-control" />
                      </div>
                    </form>
                        
                        </div> 
                      </div>     
                    </div>  
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </body>
</html>


{% endblock %}
